In [25]:
from sklearn.preprocessing import PolynomialFeatures
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import numpy as np

In [2]:
df = pd.read_csv('insurance.csv')

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df['smoker'] = df['smoker'].map({'yes': 1, 'no': 0})

In [5]:
df.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0       1  southwest  16884.92400
1   18    male  33.770         1       0  southeast   1725.55230
2   28    male  33.000         3       0  southeast   4449.46200
3   33    male  22.705         0       0  northwest  21984.47061
4   32    male  28.880         0       0  northwest   3866.85520

In [6]:
x = df.drop(['charges', 'sex', 'region'], axis = 1)
y = df.charges
x

      age     bmi  children  smoker
0      19  27.900         0       1
1      18  33.770         1       0
2      28  33.000         3       0
3      33  22.705         0       0
4      32  28.880         0       0
...   ...     ...       ...     ...
1333   50  30.970         3       0
1334   18  31.920         0       0
1335   18  36.850         0       0
1336   21  25.800         0       0
1337   61  29.070         0       1

[1338 rows x 4 columns]

In [7]:
pol = PolynomialFeatures (degree = 2)

In [8]:
x_pol = pol.fit_transform(x)

In [30]:
x_pol
type(x_pol)

numpy.ndarray

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x_pol, y, test_size=0.2, random_state=0)

In [32]:
x_train
# y_train

array([[ 1.  , 37.  , 34.1 , ..., 16.  ,  4.  ,  1.  ],
       [ 1.  , 18.  , 34.43, ...,  0.  ,  0.  ,  0.  ],
       [ 1.  , 23.  , 36.67, ...,  4.  ,  2.  ,  1.  ],
       ...,
       [ 1.  , 40.  , 25.08, ...,  0.  ,  0.  ,  0.  ],
       [ 1.  , 19.  , 35.53, ...,  0.  ,  0.  ,  0.  ],
       [ 1.  , 33.  , 18.5 , ...,  1.  ,  0.  ,  0.  ]])

In [15]:
Pol_reg = LinearRegression()

In [16]:
Pol_reg.fit(x_train, y_train)

LinearRegression()

In [18]:
y_train_pred = Pol_reg.predict(x_train)

In [19]:
y_test_pred = Pol_reg.predict(x_test)

In [20]:
print(Pol_reg.intercept_)
print(Pol_reg.coef_)
print(Pol_reg.score(x_test, y_test))

-5325.88170525358
[ 0.00000000e+00 -4.01606591e+01  5.23702019e+02  8.52025026e+02
 -9.52698471e+03  3.04430186e+00  1.84508369e+00  6.01720286e+00
  4.20849790e+00 -9.38983382e+00  3.81612289e+00  1.40840670e+03
 -1.45982790e+02 -4.46151855e+02 -9.52698471e+03]
0.881259570334524

In [21]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_test_pred})
df

           Actual     Predicted
578    9724.53000  12101.156323
610    8547.69130  10440.782266
569   45702.02235  48541.022951
1034  12950.07120  14140.067522
198    9644.25250   8636.235727
...           ...           ...
1084  15019.76005  16712.196281
726    6664.68595   8654.565461
1132  20709.02034  12372.050609
725   40932.42950  41465.617268
963    9500.57305  10941.780705

[268 rows x 2 columns]

In [26]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_test_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_test_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error: 2824.4950454776304
Mean Squared Error: 18895160.098780204
Root Mean Squared Error: 4346.856346692423